<!-- <h2>Success message component</h2> -->
<!-- <error-message></error-message> -->

<!-- <p [ngStyle]="{'background-color':getColor()}" [ngClass]="{online: status==='Online'}">The number value is {{number}} and status is {{status}}</p> -->


<!-- Event Binding -->
<!-- <input type="text" name="" id="" (input)="keyevent($event)">

{{inputvalue}}

<button [disabled]="!enableButton" (click)="onbuttonclick()">click me</button>

{{title}} -->

<!-- Two way binding -->

<!-- <input [(ngModel)]="username" placeholder="Enter your username">
{{username}} -->

<!-- Assignment -->

<!-- <input type="text" [(ngModel)]="username">

<button [disabled]="username === ''" (click)="username =''">Click me</button><br>
<p *ngIf="username">My Name is {{username}}</p> -->

<!-- Assignment -->
<!-- <button (click)="toggle = !toggle">Dsiplay Details</button> -->
<button (click)="toggleDetails()">Dsiplay Details</button>
<br>
<p *ngIf="toggle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dolorum fugiat laborum, rerum in vel quasi ratione temporibus dolores architecto voluptates reprehenderit illo perspiciatis optio quidem nulla id at? Recusandae.</p>
<br>
<div *ngFor="let item of log; let index" [ngStyle]="{backgroundColor: index >= 5 ? 'gray' : 'transparent'}" [ngClass]="{online:  item >= 5}">{{index}}</div>

